@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center align-items-center mt-4">
    <div class="card shadow-lg p-4 rounded border border-1"
         style="width: 600px; background-color: #fff; color: #000;">
        <h2 class="text-center mb-4 fw-bold">Create an Account</h2>

        <form asp-action="Register" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="CitizenIdentificationNumber" class="form-label fw-semibold">Citizen ID</label>
                    <input asp-for="CitizenIdentificationNumber" maxlength="12" class="form-control border" placeholder="Enter ititzen ID" required />
                    <span asp-validation-for="CitizenIdentificationNumber" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Name" class="form-label fw-semibold">Name</label>
                    <input asp-for="Name" class="form-control border" placeholder="Enter Your Name" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Email" class="form-label fw-semibold">Email</label>
                    <input asp-for="Email" type="email" class="form-control border" placeholder="Enter Email" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Birthday" class="form-label fw-semibold">Birthday</label>
                    <input asp-for="Birthday" type="date" class="form-control border" required />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Password" class="form-label fw-semibold">Password</label>
                    <input asp-for="Password" type="password" class="form-control border" placeholder="Enter Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="Adress" class="form-label fw-semibold">Address</label>
                    <input asp-for="Adress" class="form-control border" placeholder="Enter Your Address" required />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="PhoneNumber" class="form-label fw-semibold">Phone Number</label>
                    <input asp-for="PhoneNumber" maxlength="10" class="form-control border" placeholder="Enter Your Phone" required />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="ATM" class="form-label fw-semibold">ATM Number</label>
                    <input asp-for="ATM" maxlength="16" class="form-control border" placeholder="Enter Your ATM Number" required />
                    <span asp-validation-for="ATM" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="PinCode" class="form-label fw-semibold">PIN Code</label>
                    <input asp-for="PinCode" maxlength="6" class="form-control border" placeholder="Enter Your PIN" required />
                    <span asp-validation-for="PinCode" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-dark w-100 mt-3 fw-bold">
                <i class="bi bi-person-plus"></i> Register
        </form>
    </div>
</div>