@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cơ sở an toàn & Bảo mật thông tin</h1>
    <p>Nguyễn Minh Đức - CT060406</p>
    <p>Nguyễn Lưu Quốc Hoàng - CT060215</p>
</div>
