@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex flex-column justify-content-center align-items-center vh-75 mt-5">
    <h1 class="display-4 fw-bold ">Cơ sở An toàn & Bảo mật Thông tin</h1>
    <p class="lead text-gray">Thành viên thực hiện:</p>
    <ul class="list-unstyled fs-5">
        <li>📌 Nguyễn Minh Đức - <strong>CT060406</strong></li>
        <li>📌 Nguyễn Lưu Quốc Hoàng - <strong>CT060215</strong></li>
    </ul>
</div>
